body {
  font-family: sans-serif;
  text-align: center;
  margin: 50px auto;
  background-color: #364859;
}

.container {
  width:700px;
  height:500px;
  margin: 5% auto;
  background: #000;
  border-radius: 1em;
  border-top:50px solid #73F440;
  border-bottom:50px solid #73F440;
  position: relative;
}

#character {
  border-radius: 50%;
  position: absolute;

  max-width:150px;
  max-height:150px;
}

#obstacle{
  height:150px;
  width:20px;
  background-color: lime;
  position:absolute;
}

.btn-container {
  text-align: center;
}

h1, h2{
  color:white;
  font-family: 'Cinzel', serif;
}
