body {
  font-family: sans-serif;
  text-align: center;
  margin: 50px auto;
}

.container {
  width:700px;
  height:500px;
  margin: 5% auto;
  background: #000;
  border-radius: 1em;
  border-top:50px solid #73F440;
  border-bottom:50px solid #73F440;
  position: relative;
}

#character {
  height:60px;
  width:60px;
  background: lime;
  border-radius: 50%;
  position: absolute;
}

.btn-container {
  text-align: center;
}
